{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Random Management {% endblock %}

{% block body_block %}


	<form class="pure-form pure-form-aligned" method="post" action=".">
		{% csrf_token %}

			<div class="pure-control-group">
				<label for="username">Username</label>
				<input id="id_username" placeholder="Enter username" maxlength="30" name="username" type="text"/>
			</div>
			<div class="pure-control-group">
				<label for="password">Password</label>
				<input id="id_password" placeholder="Enter password" name="password" type="password"/>
			</div>
			<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Login</button>
        </form>

        <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
		
{% endblock %}