{% block files_listing %}

{% if files %}
<div class="col-md-4">
    <div class="container-fluid">
        <div class = "list-group files">
            {% for file in files%}
                <div class="text-center"> 
                    <a class = "button-show-files" href="" data-toggle="modal" data-target="#show-file{{file.id}}"><strong>{{ file.title }} </strong> by {{ file.user }}</a>
                    {% block show_file%}
                        {% include "project_management/tasks/show_file.html" %}
                     {% endblock %}
                    <span class = "delete">
                        {% if user == file.user or user == task.project.owner or user in task.project.admin.all %}
                        <a class="button-deletion " align="right" href="#" data-toggle="modal" data-target="#delete-file">
                           <span class="glyphicon glyphicon-remove-circle" aria-hidden="false" ></span>
                        </a>
                    {% endif %}  
                    {% block delete_message%}
                        {% include "project_management/tasks/file_delete_modal.html" %}
                     {% endblock %}
                    </span>                 
                </div>
            {% endfor %}	
        </div>
    </div>
</div>
{% else %}
    <div class="text-center">
        <strong> No files</strong>
    </div>
{% endif %}

{% endblock %}