{% block files_listing %}
	{% if files %}
                {% for file in files%}
                 	<div class="files-container">
                        <div class = "list-group">
               				<button type="button" class="btn btn-link btn-lg btn-block">
               					<a href="{{ file.taskFile.url }}"><strong>{{ file.title }} </strong> by {{ file.user }} </a></button>
                {% endfor %}
            			</div>
            		</div>
            {% else %}
                <strong> No files</strong>
            {% endif %}
{% endblock %}