{% load staticfiles %}


<div>
	<div class="messages container-fluid ">
 	{% for message in messages %}

      <div class="article">
        <div class="item row">
          <div class="col-xs-3">
            <p class="source">{{message.user}}</p>
          </div>
          <div class="col-xs-6">
            <p class="title">{{message.title}}</p>
          </div>
          <div class="col-xs-3">
          	<!-- Button for message deletions -->
          	{% if user == message.user or user == task.project.owner or user in task.project.admin.all %}
          	<p align="right">
	          	<a class="button-deletion" align="right" href="#" data-toggle="modal" data-target="#delete-message">
		            
		            <span class="glyphicon glyphicon-remove-circle" aria-hidden="false"></span>
	            </a>
        	</p>
        	{% endif %}
        	<!-- End of button for message deletions -->
        	{% block delete_message%}
        		{% include "project_management/tasks/message_delete_modal.html" %}
 			    {% endblock %}

            <p class="pubdate">{{message.date}}</p>
          </div>
        </div>
        <div class="description row">
          <div class="col-xs-3">&nbsp;</div>
          <div class="col-xs-6">
            <p>{{message.description}}</p>
          </div>
          <div class="col-xs-3">&nbsp;</div>
        </div>
      </div>
     
     {% endfor %}
    

     {# Pagination #}
     {% if messages %}
     <div class="text-center">
     	<div class="pagination">
     		<span class="step-links">
     			{% if messages.has_previous %}
	     			<a href="?page={{ messages.previous_page_number }}">
	     				<button class="btn btn-default">
	     					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	     				</button>
	     			</a> 
     			{% endif %}

     			<span class="current">
     				Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
     			</span>

     			{% if messages.has_next %}
	     			<a href="?page={{ messages.next_page_number }}">
	     				<button class="btn btn-default">
	     					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	     				</button>
	     			</a>
     			{% endif %}
   			</span>
     	</div>
     </div>
     {% endif %}
</div>

 