{% block message_modal %}

<div id="messages">
                {% if messages%}
                <ul>
                {% for message in msgs_desc %}
                    <div class="message-container">
                        <div class = "list-group">
                        <button type="button" class="btn btn-link btn-lg btn-block" data-toggle="modal" data-target="#showModal"><strong>{{ message.msg }}</strong> by {{ message.msg.user }}</button>
                        <div class="modal fade" role='dialog' id="showModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">{{ message.msg }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class = "user">
                                            <p> <strong>User : </strong> {{message.msg.user }}</p.
                                            <p> <strong>Date added: </strong> {{message.msg.date}} </p>
                                        </div>
                                       <div class="description">
                                            <p><strong> Description : </strong> {{message.msg.description}}&hellip;</p>
                                        </div>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-block btn-default"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                   </div>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if messages.has_previous %}
                            <a href="?page={{ messages.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
                        </span>

                        {% if messages.has_next %}
                            <a href="?page={{ messages.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
                </ul>
                {% else %}
                    <strong> No messages </strong>
                {% endif %}
               <!-- End for showing the messages-->
               {% endblock %}