.logged-style {
    max-width: 99.15%;
}

.logged-style .side-panel {
    background-color: #aaaaaa;
}

.logged-style .central-panel {
    background-color: #dddddd;
}

.logged-style .col-md-2 {
    padding: 0 25px;
}

.logged-style .col-md-8 {
    padding: 0 25px;
}

#project-name{
	text-align: center;
	color:white;
}

/* Task styling*/
.new-task-form {
    margin: 0 auto;
    max-width: 75%;
}

.new-task-form input, textarea, select {
    margin-bottom: 15px;
}

.new-task-form select {
    height: 130px;
}

/* Needed because due to modal, this remained in the background*/
.datepicker {
    z-index: 1151 !important;
}

/* Bad modal input; input fields get coloured in red*/
.bad-input {
    -webkit-box-shadow: 0 0 8px 1px #ED666F;
    -moz-box-shadow: 0 0 8px 1px #ED666F;
    box-shadow: 0 0 8px 1px #ED666F;
}
/* These two handle the placeholder colouring of bad input modal*/
/* individual: webkit */
.bad-input::-webkit-input-placeholder { color: #ff7e4d; }
/* individual: mozilla */
.bad-input::-moz-placeholder { color: #ff7e4d; }

/* Task display css */
.task-panel {
    border-radius: 9px;
    padding: 5px 30px;
    width: 100%;
    margin-bottom: 10px;
}

.task-panel .completed-task {
    background-color: #eee;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 8px;
    padding: 5px;
    color: #4e804e;
}

.task-panel h2 a {
    color: #444;
    text-decoration: underline;
}

.task-panel h2 a:hover { color: #999; }

.task-panel-normal-colour { background-color: #b8ffb3; }
.task-panel-critical-colour { background-color: #ff9e9e; }
.task-panel-attention-colour { background-color: #fff2ab; }

.task-view-panel { padding: 20px; }

#projects-panel li{ color:red }

.dropdown-menu {
    width: 540px;
    padding: 25px 25px 0 25px;
}

.has-invitations {
    color: orangered;
}

.glyphicon-envelope {
    font-size: 22px;
}

.user-invitation-field {
    margin-bottom: 2px;
}



