{% extends 'base.html' %}
{% block body_block %}
    {# Edit this later #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" href="{% url 'dashboard' %}">RandomManagement</a>
			</div>
            <div id="navbar" class="navbar-collapse collapse">
				{% block project-name %} {% endblock %}
                <div class="navbar-form navbar-right">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">profile</a>
                    <a href="{% url 'auth_logout' %}?next=/">Logout</a>
                    {% endif %}
                </div>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
{#    THIS DOESNT WORK#}
    {% block navigation_block %} {% endblock navigation_block%}
<!--
    <div class="fluid-container">
        {# Projects #}
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">
                <a href="{% url 'newProject' %}"><button type="button"class="btn btn-success btn-lg btn-block">Create New Project</button></a>
                    <h3><span class = "label label-default">My Projects</span></h3>
                {% for project in projects %}
                    <div id="cats">
                        <a href="{% url 'dashboard' %}"><li class="list-group-item">{{ project.name }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        -->
<
    <div class="logged-style">
        {#  Projects (left side)  #}
        <div class="row">
            <div class="col-md-2 side-panel">
			<br>
				<a href="{% url 'newProject' %}"><button type="button"class="btn btn-success btn-lg btn-block">Create New Project</button></a>
				{%block user_projects%}{%endblock%}
				
            <div class="col-sm-2 side-panel">
				<br/>
					<a href="{% url 'newProject' %}"><button type="button"class="btn btn-success btn-lg btn-block">Create New Project</button></a>
					<h3><span class = "label label-default">My Projects</span></h3>
					<ul class="list-group">
						{% for project in projects %}
							<a href="{% url 'dashboard' %}"><li class="list-group-item">{{ project.name }}</li>
						{% endfor %}
					</ul>
				<br/>
			</div>
            {#  Open projects (center)  #}
            <div class="col-sm-8 central-panel">
                {% block project_block %}{% endblock project_block%}
            </div>

            {#  Users (right side)  #}
            <div class="col-sm-2 side-panel">
				{% block project_members %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock body_block %}
