{% extends 'base.html' %}
{% block body_block %}
    {# Edit this later #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard' %}">RandomManagement</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% block project-name %} {% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}

                        <li class="dropdown">
                            <a id="dLabel" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               role="button" aria-expanded="false">

                                <span class="glyphicon glyphicon-envelope
                                {% if project_invitations %}has-invitations{% endif %}" aria-hidden="true"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                {% for project_inv in project_invitations %}
                                    <div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h5>You have been invited to join
                                                    <strong>{{ project_inv.project }}</strong>.</h5>
                                            </div>
                                            <div class="col-md-2 ">
                                                <a class="btn btn-primary"
                                                   href="{% url 'accept_invitation' project_inv.id %}">Accept</a>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="btn btn-default"
                                                   href="{% url 'decline_invitation' project_inv.id %}">Decline</a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endfor %}
                            </ul>
                        </li>


                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>

                    {% endif %}
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    {#    THIS DOESNT WORK#}
    {% block navigation_block %} {% endblock navigation_block %}

    <div class="logged-style">
        {#  Projects (left side)  #}
        <div class="row">
            <div class="col-md-2 side-panel">
                <br>
                <a href="{% url 'newProject' %}">
                    <button type="button" class="btn btn-success btn-lg btn-block">Create New Project</button>
                </a>
                {% block user_projects %}{% endblock %}


            </div>
            {#  Open projects (center)  #}
            <div class="col-sm-8 central-panel">
                {% block project_block %}{% endblock project_block %}
            </div>

            {#  Users (right side)  #}
            <div class="col-sm-2 side-panel">
                {% block project_members %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock body_block %}

