{% extends 'logged_in_base.html' %}
{% load staticfiles %}
{% block user_projects %}
<br>
	{% if user_project %}
	<div class="pure-menu custom-restricted-width">
		<h3><span class = "label label-default">My Projects</span></h3>
		<ul class="pure-menu-list">
		{% for users_projects in user_project %}
			{% if users_projects == project %}
				<a class="pure-menu-link" href="/project/{{users_projects.slug}}"><li class="pure-menu-item pure-menu-selected">{{ users_projects.name }}</li></a>
			{% else %}
				<a class="pure-menu-link" href="/project/{{users_projects.slug}}"><li class="pure-menu-item">{{ users_projects.name }}</li></a>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% else %}
		<h5>You don't have any projects yet</h5>
	{% endif %}
</br>
{% endblock %}

{% block project_block %}
	<br>
		<div class="col-md-2 col-md-offset-4">
			<img class="img-rounded img-responsive" src="{% static 'images/logo.png' %}" alt="Site logo."/>
		</div>
		<div class="col-md-1 text-centre">
			<h1>Welcome to RandomManagement {{user.username}}<h1>
		</div>
	</br>
{% endblock %}