{% extends 'project_management/dashboard.html' %}

{% block project-name %}
    <div class="navbar-brand" id="project-name">{{ project.name }}</div>
{% endblock %}

{% block owned %}
	{% include 'project_management/highlighting_owned_projects.html' %}
{% endblock %}

{% block admin %}
	{% include 'project_management/highlighting_admin_projects.html' %}
{% endblock %}

{% block member %}
	{% include 'project_management/highlighting_member_projects.html' %}	
{% endblock %}

{% block project_block %}
    <div class="row">
        {# Task part #}
        <div class="col-md-8">
            <br/>
            {# Two buttons at the top left #}
            <div class="row">
                {# New task model trigger button #}
                {% if user_privileged %}
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal"
                            data-target="#new-task">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9">Add task</div>
                        </div>

                    </button>
                </div>
                {% endif %}
                {# View completed and approved tasks button #}
                <div class="{% if user_privileged %}col-md-4{% else %}col-md-6{% endif %}">
                    <a class="btn btn-default btn-lg btn-block" href="{% url 'completed_and_approved' project.slug %}">
                         <div class="row">
                            <div class="col-md-3">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9">Past tasks</div>
                        </div>
                    </a>
                </div>
                {# Search button #}
                <div class="{% if user_privileged %}col-md-4{% else %}col-md-6{% endif %}">
                    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal"
                            data-target="#search-task">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9">Find task</div>
                        </div>
                    </button>
                </div>
            </div>

            <br/>

            {#      Task search modal      #}
            <div class="modal fade" role='dialog' id="search-task">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Find task</h4>
                        </div>
                        <div class="modal-body">
                            <input data-projectid="{{ project.id }}"
                                   id="task-search" type="text" class="form-control" placeholder="Search..."/><br/>
                            <div id="found-task-display">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-block btn-default"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            {# New task modal definition #}
            <div class="modal fade" role='dialog' id="new-task">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">New task</h4>
                        </div>
                        <div class="modal-body">
                            <form id="task_form" method="post" action="{% url 'new_task' project.id %}">
                                {% csrf_token %}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                <div class="form-group new-task-form">
                                    <label for="id_title">{{ new_task_form.fields.title.label }}</label>
                                    <input class="form-control" id="id_title" maxlength="40" name="title" type="text"
                                           placeholder="Please enter a title...">

                                    <label for="id_description">{{ new_task_form.fields.description.label }}</label>
                            <textarea class="form-control" cols="40" id="id_description" maxlength="300"
                                      name="description"
                                      rows="7" placeholder="Please enter a description..."></textarea>

                                    <label for="id_due_date">{{ new_task_form.fields.due_date.label }}</label>
                                    <input class="form-control datepicker" id="id_due_date" name="due_date" type="text">

                                    <label for="id_users">{{ new_task_form.fields.users.label }}</label>
                                    <select class="form-control" multiple="multiple" id="id_users" name="users">
                                        <option value="{{ project.owner.id }}">{{ project.owner.username }}</option>
                                        {% for user in project.members.all %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                        {% for admin in project.admin.all %}
                                            <option value="{{ admin.id }}">{{ admin.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-block btn-default"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="new-task-submit" class="btn btn-block btn-success"
                                                   type="submit" name="submit" value="Add"/>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            {#  End new task modal definition  #}

            {# Visualisation of tasks #}
            <div id="tasks">
                {% for task in tasks %}
                    <div class="task-panel {{ task.colouring }}">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2 class="text-center">
                                    <a href="{% url 'task' task.id %}">{{ task }}</a>
                                </h2>
                            </div>
                            <div class="col-md-1">

                                {% if task.completed %}
                                    <h3><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    </h3>

                                {% endif %}
                            </div>
                        </div>

                        <p class="text-justify">{{ task.description }}</p>

                        <p>Working:
                            {% for user in task.users.all %}
                                {{ user.username }}
                            {% endfor %}
                        </p>

                        <p class="text-right">Due date: {{ task.due_date }}</p>
                    </div>
                {% endfor %}
                {# End visualisation  #}

            </div>

            {# Pagination #}

            <div class="text-center">
                <div class="pagination">
            <span class="step-links">
                {% if tasks.has_previous %}
                    <a href="?page={{ tasks.previous_page_number }}">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                    </a>
                {% endif %}

                <span class="current">
                Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
                </span>

                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </a>
                {% endif %}
             </span>
                </div>
            </div>
        </div>

        {# FILE uploads #}
        <div class="col-md-4">
            <!-- <div class="col-md-10" -->
            <h1 class="text-center">FILES</h1>
            <!-- Add global file -->
            {% block add_global_files %}
                {% include "project_management/project_files/add_global_files.html" %}
            {% endblock%}

            <!-- List of all files -->
            {% block list_global_files%}
                {% include "project_management/project_files/list_global_files.html"%}
            {% endblock%}
        </div>
    
{% endblock %}

{% block project_members %}
    {% if project.owner == user %}
    <div id="add-user-to-project-div">
    <h3 class="text-center">Add user</h3>
    <input class="form-control user-invitation-field" id="add_user_field"
           maxlength="30" type="text" placeholder="Enter username"/>
    <a href="#" role="button" tabindex="0" data-trigger="focus" id="invite-user"
       data-projectid="{{ project.id }}" class="btn btn-success btn-block">Invite</a>
    </div>

    <hr/>
    {% endif %}
	
	<div class="col-md-2">
	{% if project.admin.all %}
		<h3 class="text-center"><span class="label label-default">Admin of {{ project.name }}:</span></h3>
			<div class="pure-menu custom-restricted-width text-centre">
			{% for admins in project.admin.all %}
				<div class="pure-menu pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item">{{admins.username}}</li>
						{% if project.owner == user %}
							<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
								<a class="pure-menu-link"><span class="glyphicon glyphicon-pencil"/>edit</a>
								<ul class="pure-menu-children">
									<li class="pure-menu-item">
										<a class="pure-menu-link" href="{% url 'demote_admin' project.id admins.id %}">
											<button type="button">
												<span class="glyphicon glyphicon-hand-down"/> Demote
											</button>
										</a>
									</li>
									<li class="pure-menu-item">
										<a class="pure-menu-link" href="{% url 'remove_admin' project.id admins.id %}"> 
											<button type="button">
												<span class="glyphicon glyphicon-remove"/> Remove
											</button>
										</a>
									</li>
								</ul>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endfor %}
			</div>
	{% endif %}


	{% if project.members.all %}
		<h3 class="text-center"><span class="label label-default">Members of {{ project.name }}:</span></h3>
		<div class="pure-menu custom-restricted-width">
			{% for members in project.members.all %}
				<div class="pure-menu pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item">{{members.username}}</li>
						{% if project.owner == user %}
							<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
								<a class="pure-menu-link"><span class="glyphicon glyphicon-pencil"/>edit</a>
								<ul class="pure-menu-children">
									<li class="pure-menu-item">
										<a class="pure-menu-link" href="{% url 'promote_member' project.id members.id %}">
											<button type="button">
												<span class="glyphicon glyphicon-hand-up"/> Promote
											</button>
										</a>
									</li>
									<li class="pure-menu-item">
										<a class="pure-menu-link"  href="{% url 'remove_member' project.id members.id %}">
											<button type="button">
												<span class="glyphicon glyphicon-remove"/> Remove
											</button>
										</a>
									</li>
								</ul>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endfor %}

		</div>
	
	{% endif %}
	</div>

{% endblock project_members %}

