{% extends 'logged_in_base.html' %}

{% block project_block %}

    <div class="row">
        {# Task part #}
        <div class="col-md-6">
            <br/>
            {# Two buttons at the top left #}
            <div class="row">
                {# New task model trigger button #}
                <div class="col-md-6">
                    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal"
                            data-target="#myModal">
                        Add task
                    </button>
                </div>
                {# View completed and approved tasks button #}
                <div class="col-md-6">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'completed_and_approved' project.id %}">
                        Completed tasks
                    </a>
                </div>
            </div>

            <br/>

            {# HERE IS A SERIOUS ISSUE WITH INHERITANCE; THESE PARTS SHOULD BE INHERITED FROM THE tasks FOLDER :(  #}
            {# New task modal definition #}
            <div class="modal fade" role='dialog' id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">New task</h4>
                        </div>
                        <div class="modal-body">
                            <form id="task_form" method="post" action="{% url 'new_task' project.id %}">
                                {% csrf_token %}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                <div class="form-group new-task-form">
                                    <label for="id_title">{{ new_task_form.fields.title.label }}</label>
                                    <input class="form-control" id="id_title" maxlength="40" name="title" type="text"
                                           placeholder="Please enter a title...">

                                    <label for="id_description">{{ new_task_form.fields.description.label }}</label>
                            <textarea class="form-control" cols="40" id="id_description" maxlength="300"
                                      name="description"
                                      rows="7" placeholder="Please enter a description..."></textarea>

                                    <label for="id_due_date">{{ new_task_form.fields.due_date.label }}</label>
                                    <input class="form-control datepicker" id="id_due_date" name="due_date" type="text">

                                    <label for="id_users">{{ new_task_form.fields.users.label }}</label>
                                    <select class="form-control" multiple="multiple" id="id_users" name="users">

                                        {% for user in project.members.all %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-block btn-default"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <input id="new-task-submit" class="btn btn-block btn-success"
                                                   type="submit" name="submit" value="Add"/>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            {#  End new task modal definition  #}

            {# Visualisation of tasks #}
            <div id="tasks">
                {% for task in tasks %}
                    <div class="task-panel {{ task.colouring }}">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h2 class="text-center">
                                    <a href="{% url 'task' task.id %}">{{ task }}</a>
                                </h2>
                            </div>
                            <div class="col-md-1">

                                {% if task.completed %}
                                    <h3><span class="glyphicon completed-task glyphicon-ok" aria-hidden="true"></span>
                                    </h3>

                                {% endif %}
                            </div>
                        </div>

                        <p class="text-justify">{{ task.description }}</p>

                        <p>Working:
                            {% for user in task.users.all %}
                                {{ user.username }}
                            {% endfor %}
                        </p>

                        <p class="text-right">Due date: {{ task.due_date }}</p>
                    </div>
                {% endfor %}
                {# End visualisation  #}

            </div>

            {# Pagination #}

            <div class="text-center">
                <div class="pagination">
            <span class="step-links">
                {% if tasks.has_previous %}
                    <a href="?page={{ tasks.previous_page_number }}">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </button>
                    </a>
                {% endif %}

                <span class="current">
                Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
                </span>

                {% if tasks.has_next %}
                    <a href="?page={{ tasks.next_page_number }}">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </a>
                {% endif %}
             </span>
                </div>
            </div>
        </div>

        {# FILE uploads #}
        <div class="col-md-6">

        </div>
    </div>

{% endblock %}

{% block project_members %}
    {% for members in project.members.all %}
        <p id="members-list">{{ members.username }}</p>
    {% endfor %}

    <form class="pure-form pure-form-aligned" id="add_user" type="Add_User" method="post" action=".">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="add_user">Add new member</label>
            <input id="add_user" maxlength="30" name="add_user" type="text" placeholder="Enter their Username"/>
        </div>
        <div class="pure-controls">
            <a href="{% url 'project' project.id %}" id="add_user">
                <button class="btn btn-success" type="subit">Add user</button>
            </a>
        </div>
    </form>
{% endblock project_members %}